# Environment
venv/

# App log
app.log

# MacOS
.DS_Store

# Datas
datasets_kaggle
deep-learning-1/dataset/*.gz
deep-learning-1/dataset/*.pkl
*.csv
*.gz
*.pickle
*.png
train
val
data

# python
__pycache__

# 動作確認用
prov.py

# モデル可視化
model_visulazation

# models
*.pth